.titulo{
    text-align: center;
    color: #3a3042;
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px #ff784f    ;
}
.añadirReceta{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #3a3042;
    padding: 20px;
    border-radius: 8px;
    padding: 30px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 70px;
    background-color: #ffe19c;
}
.añadirReceta input, .añadirReceta textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
.añadirReceta button{
    background-color: #3a3042;
    color: #edffd9;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.añadirReceta button:hover{
    background-color: #ff784f;
    color: #3a3042;
}
.advertencia{
    color: red;
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: 10px;
}